.logo{
    margin-top: -15px;
    margin-left: 10px;
  
}
span{
    color: yellowgreen;
}
#bground{
    background-size: cover;
    background-position: center;
    background-image: url("../Images/backgroundimg.jpg");
    /* height: 100vh; */
}
.pizza2{
    height: 60%;
    width: 95%;
    border: 5px white;
    border-radius:5px ;
    box-shadow: 4px 4px 2px white ;
}
.img1{
    width: 30%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.crust{
    color: greenyellow;
}
h2{
    color: greenyellow;
}
.btn{
    background-color: greenyellow;
}